@mixin remove-btn-style {
  background: transparent;
  outline: none;
  appearance: none;
  border: none;
}

.motion-list {
  transform: none;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: auto;
  min-height: 100%;
  justify-content: center;

  & ul {
    padding: 0;

    li {
      list-style-type: none;
      background-color: #1a1b1f;
      border-radius: 4px;
      padding: 1rem;
      color: #ffff;
      width: 100%;
      margin: 12px 0;
      line-height: 1.4rem;

      display: flex;
      align-items: center;

      & p {
        &::selection {
          color: #151515;
          background: #ffcd2d;
        }
      }

      button {
        @include remove-btn-style();
        margin-right: 1rem;
        color: #687e94;
        cursor: pointer;
        width: 36px;
        font-weight: bold;

        &:hover,
        &:focus {
          color: #ffcd2d;
        }

        & .votes {
          display: inline-block;
          position: relative;
          text-align: center;
          width: 100%;
          height: 16px;
        }
      }
    }

    button .vote .number {
      top: 0;
      left: 0;
      width: 100%;
    }

    .number {
      left: 0;
      right: 0;
    }

    .increment {
      opacity: 0;
      // margin-left: 2px;
    }
  }

  .comple-task {
    margin-left: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 1000ms ease-in;

    &:hover {
      svg path {
        fill: #ffcd2d;
      }
    }
  }

  .no-pending-items {
    background-color: #d4d4d454;
    border-radius: 4px;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    margin-top: 1rem;
  }
}

.increment-span {
  opacity: 0;
  margin-left: 4px;
}

.reload {
  @include remove-btn-style();
  color: #1a1b1f;
  font-weight: 500;
  width: fit-content;
  margin-left: auto;
  cursor: pointer;
}
